{% extends "./masterTemplate.html" %}

{% block content %}
<body>
<div class="header">
    <h1>Sensing Gang</h1>
</div>

<div class="main">
<div class="item">
    <span> 1</span>
</div> 
<div class="item">
    <span> 2</span>
</div> 
<div class="item">
    <span> 3</span>
</div> 
<div class="item">
    <span> 4</span>
</div>
<div class="item">
    <span> 5</span>
</div>
<div class="item">
    <span> 6</span>
</div>
<div class="item">
    <span> 7</span>
</div>
<div class="item">
    <span> 8</span>
</div>
<div class="item">
    <span> 9</span>
</div>
<div class="item">
    <span> 10</span>
</div>
<div class="item">
    <span> 11</span>
</div>
<div class="item">
    <span> 12</span>
</div>
</div> 

{% endblock %}