<!-- the homePage template extends the masterTemplate, which includes the navbar-->
{% extends "../masterTemplate.html" %}

{% load static %}
{% block style %}
<link rel="" href="">
{% endblock style %}

{% block content %}

        <form action="" method="post">
            {% csrf_token %}
           <label = for"">Username</label>
           <input type = "text" id = "username" name = 'username' placeholder = "Enter Username">
           <br>
           <label = for"">Password</label>
           <input type = "password" id = "password" name = 'password' placeholder = "Enter Password">
           <br>
           <button type = "submit">Login</button>
       </form>   
       
        <script src="" async defer></script>
{% endblock content %}

<body>
  <h1> Welcome </h1>
</body>